:root {
    --color-active: #0095f6;
    --color-black: #252525;
    --color-dark-gray: #8e8e8e;
    --color-disabled-gray: #a8a8a8;
    --color-gray: #dbdbdb;
    --color-light-gray: #e7e7e7;
    --color-links: #00376b;
    --color-white: #ffffff;

    --padding-horizontal: 16px;
}

body {
    background-color: var(--color-white);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
    color: var(--color-black);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none !important;
}

.pointer {
    cursor: pointer;
}

.container {
    border: 1px solid var(--color-gray);
    display: flex;
    flex-direction: column;
    max-width: 614px;
    width: 100vw;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 14px var(--padding-horizontal);
}

.post-owner-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 14px;
}

.owner-username {
    font-size: 14px;
    font-weight: 600;
}

.owner-profile-picture {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.post-content-container {
    width: 100%;
}

.post-image {
    object-fit: contain;
    width: 100%;
}

.actions-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px calc(var(--padding-horizontal) - 8px);
    position: relative;
}

.actions-icon-container {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.floating-dots-container {
    align-items: flex-start;
    display: flex;
    gap: 4px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 12px;
    width: 100%;
}

.dot {
    background-color: var(--color-disabled-gray);
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.dot.active {
    background-color: var(--color-active);
}

.likes-container {
    align-items: center;
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
    padding: 0px var(--padding-horizontal);
}

.liked-by-profile-picture {
    border-radius: 50%;
    height: 20px;
    object-fit: cover;
    width: 20px;
}

.comment-container {
    margin-bottom: 6px;
    padding: 0px var(--padding-horizontal);
}

.user-tag-href {
    color: var(--color-links);
    font-weight: normal;
}

.see-all-comments-container {
    margin-bottom: 8px;
    padding: 0px var(--padding-horizontal);
}

.see-all-comments-container>a {
    color: var(--color-dark-gray);
    font-size: 14px;
    font-weight: normal;
}

.days-ago-container {
    color: var(--color-dark-gray);
    font-size: 10px;
    margin-bottom: 16px;
    padding: 0px var(--padding-horizontal);
    text-transform: uppercase;
}

.comment-box-container {
    align-items: center;
    border-top: 1px solid var(--color-light-gray);
    display: flex;
    gap: 16px;
    height: 40px;
    justify-content: space-between;
    padding: 6px var(--padding-horizontal);
}

.new-comment-input {
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
}

.new-comment-input::placeholder {
    color: var(--color-disabled-gray);
    font-size: 14px;
}

.submit-comment-button {
    background-color: transparent;
    border: none;
    color: var(--color-active);
    font-weight: 600;
    opacity: 0.3;
    padding: 0;
}